<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Forgot Password</h1>

      <p>You can reset your password using this <a href="<%= passwordResetLink %>">link</a>.</p>
    </div>
  </body>
</html>
